{% load i18n static %}
{% if form.errors or form.non_field_errors %}
    <div class="notification is-warning">
        <button class="delete"></button>
        {% if form.errors and not form.non_field_errors %}
            <p>
                {% blocktranslate count counter=form.errors.items|length %}
                    Please correct the error below.
                    {% plural %}
                    Please correct the errors below.
                {% endblocktranslate %}
            </p>
        {% endif %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p>
                    {{ error }}
                </p>
            {% endfor %}
        {% endif %}
    </div>
{% endif %}
