{% extends 'design/detail/box.html' %}
{% load i18n design bulma_forms %}
{% block content_before_box %}
    {% bulma_form_errors form %}
{% endblock %}
{% block content %}
    <p class="block subtitle">
        {% if edited_user.is_staff or edited_user.is_superuser %}
            {% blocktranslate with user=edited_user.username %}
                Reset Password for Admin “{{ user }}”
            {% endblocktranslate %}
        {% else %}
            {% blocktranslate with user=edited_user.username %}
                Reset Password for User “{{ user }}”
            {% endblocktranslate %}
        {% endif %}
    </p>
    {% bulma_form form %}
{% endblock %}
{% block content_footer %}{% endblock %}