
@use "sass:color";
@use "bulma-theme";
@use "bulma/sass/utilities/derived-variables" as dv;

.is-placeholder-box {
    display: block;
    border: 3px dashed rgba(dv.$text, 0.25);
    border-radius: 1em;
    color: rgba(dv.$text, 0.25);
    text-align: center;
    p, h1, h2 {
        color: rgba(dv.$text, 0.25);
    }

    @each $name, $pair in dv.$colors {
        $color: nth($pair, 1);
        &.is-#{$name} {
            border-color: rgba($color, 0.25);
            color: rgba($color, 0.25);
            p, h1, h2 {
                color: rgba($color, 0.25);
            }
        }
    }
}

a.is-placeholder-box:hover {
    transition: color 500ms, border 500ms;
    opacity: 1.0;
    border-color: var(--bulma-text);
    color: var(--bulma-text);
    p, h1, h2 {
        transition: color 500ms;
        color: var(--bulma-text);
    }

    @each $name, $pair in dv.$colors {
        $color: nth($pair, 1);
        &.is-#{$name} {
            border-color: rgba($color, 1.0);
            color: rgba($color, 1.0);
            p, h1, h2 {
                color: rgba($color, 1.0);
            }
        }
    }
}

