/** Random custom styles that are too small to group it into a own file */

@use "bulma-theme";

.logo {
    font-weight: 500;

    em {
        font-weight: 900;
    }
}

.is-fullheight-100vh {
    height: 100vh;
}

.is-nowrap {
    white-space: nowrap;
}

.is-title-prefix, .is-title-suffix {
    font-weight: 400 !important;
}

.section.is-question {
    position: relative;
}

.is-path-folder {
    font-weight: 400 !important;
}

.is-path-name {
    font-weight: 600 !important;
}

.section.is-question::before {
    content: "?";
    position: absolute;
    font-family: var(--bulma-family-primary);
    font-size: 30em;
    font-weight: 800;
    opacity: 0.2;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.add-project {
    text-align: center;
    min-height: 8lh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.document-selection-box {
    border: 1px solid var(--bulma-border);
    border-radius: var(--bulma-radius);
    height: 10em;
    overflow: scroll;
    display: flex;
    flex-direction: column;

    p {
        padding: 0.5em;

        &.is-path {
            color: var(--bulma-grey);
        }

        &.is-filename {
            font-weight: 500;
        }

        &.is-empty {
            width: 100%;
            text-align: center;
        }

        &:nth-child(even) {
            background-color: var(--bulma-white-ter);
        }
    }
}

.document-preview-list {
    display: flex;
    flex-direction: column;

    .row {
        padding: 0.5em;
        width: 100%;
        display: flex;
        flex-direction: row;
        color: var(--bulma-text);

        div {
            padding: 0.2em 0.5em;
        }

        &:nth-child(even) {
            background-color: var(--bulma-white-ter);
        }

        .fragment-count {
            min-width: 4em;
            padding: 0 0.5em;
            text-align: right;
        }

        .document-name {
            flex-grow: 10;

            .is-path {
                color: var(--bulma-grey);
            }

            .is-filename {
                font-weight: 600;
            }
        }

        &:hover {
            background-color: var(--bulma-primary);
            color: var(--bulma-white-bis);
            transition: background-color 250ms;

            .document-name {
                .is-path {
                    color: var(--bulma-white-bis);
                }
            }
        }
    }
}

.revisions {
    display: flex;
    flex-direction: column;

    .revision-row {
        display: flex;
        height: 2.5lh;
        flex-direction: row;
        width: 100%;
    }

    .revision-row:nth-child(odd) {
        background-color: var(--bulma-white-ter);
    }

    .revision-number, .revision-label, .revision-action, .revision-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .revision-number {
        width: 3em;
        text-align: right;
        font-weight: bold;
        font-size: var(--bulma-size-4)
    }

    .revision-tile {
        width: 2.5lh;
        background-size: cover;
        background-position: center;
    }

    .revision-links {
        min-width: 5em;
        text-align: left;
        font-weight: 800;
        padding: 0.5em 0;
    }

    .revision-label {
        padding: 0.5em 0.5em;
        flex-grow: 10;
    }

    .revision-action {
        padding: 1em 0.5em;
    }
}

.dropdown-item[disabled], .dropdown-item.is-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.notification-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    padding: 1em 3em;
    transition: opacity 0.5s ease-in-out;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));

    .notification {
        transform: translateX(-20%);
        transition: transform 0.5s ease-in-out;
    }
}

.notification-container.show {
    opacity: 1;
    pointer-events: auto;

    .notification {
        transform: translateX(0);
    }
}

.card-footer-item[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.dropdown.is-fullwidth {
    width: 100%;

    .dropdown-trigger, .dropdown-menu {
        width: 100%;
    }

    .button {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

.dropdown-content.is-document-select {
    max-height: 50vh;
    overflow-y: auto;
}

.dropdown-item.is-document-select {
    display: flex;
    justify-content: space-between;

    div:first-child {
        flex-grow: 10;
        margin-left: 2em;
    }
}

div.is-text-aligned-with-input {
    height: var(--bulma-input-height);
    margin: 0 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}