@font-face {
  font-display: swap;
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira/fira-mono-v14-latin-regular.woff2') format('woff2'),
  url('../fonts/fira/fira-mono-v14-latin-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/fira/fira-mono-v14-latin-500.woff2') format('woff2'),
  url('../fonts/fira/fira-mono-v14-latin-500.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fira/fira-mono-v14-latin-700.woff2') format('woff2'),
  url('../fonts/fira/fira-mono-v14-latin-700.ttf') format('truetype');
}
