{% load i18n design js_triggers %}
<div class="level-item">
    <p class="subtitle has-text-primary-invert">
        <span class="icon-text">
            <span class="icon"><i class="fas fa-code-commit"></i></span>
            <span>{% translate "Revision:" %} <strong class="has-text-primary-invert">{{ revision.number }}</strong></span>
            {% if is_latest_revision %}
                <span class="icon has-text-success" title="{% translate 'This is the latest revision.' %}"><i class="fas fa-circle-check"></i></span>
            {% else %}
                <span class="icon has-text-danger" title="{% translate 'An older revision is displayed!' %}"><i class="fas fa-circle-exclamation"></i></span>
            {% endif %}
        </span>
    </p>
</div>
<div class="level-item">
    <div class="buttons">
        {% url 'new_revision_checks' pk=project.pk as url %}
        <a class="button is-primary" href="{{ url }}?revision={{ revision.number }}">
            {% if is_latest_revision %}
                <span class="icon"><i class="fas fa-plus"></i></span>
            {% else %}
                <span class="icon"><i class="fas fa-code-branch"></i></span>
            {% endif %}
        </a>
        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
                <a class="button is-primary" aria-haspopup="true" aria-controls="revision-dropdown">
                    <span>{% translate "Revisions" %}</span>
                    <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </a>
            </div>
            <div class="dropdown-menu" id="revision-dropdown" role="menu">
                <div class="dropdown-content">
                    <a href="{% url 'revision_all' pk=object.pk %}" class="dropdown-item">
                        {% translate 'Show all revisions' %}
                    </a>
                    <hr class="dropdown-divider">
                    {% for latest_revision in latest_revisions %}
                        <a href="{% url 'project' pk=object.pk revision=latest_revision.number %}"
                           class="dropdown-item{% if latest_revision.number == revision.number %} is-active{% endif %}">
                            <span class="icon"><i class="fas fa-code-commit"></i></span>
                            <span>
                                {% if latest_revision.is_latest %}
                                    {% translate "Latest Revision:" %}
                                {% else %}
                                    {% translate 'Revision:' %}
                                {% endif %}
                                <strong>{{ latest_revision.number }}</strong>
                                {% if latest_revision.label %}– {{ latest_revision.label }}{% endif %}
                            </span>
                        </a>
                    {% endfor %}
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" {% action_button_trigger "edit_revision_label" %}>
                        <span class="icon"><i class="fas fa-pen-to-square"></i></span>
                        {% translate "Edit Revision Label" %}
                    </a>
                    <a class="dropdown-item" {% if revision.can_be_deleted %}{% action_button_trigger "delete_revision" %}{% endif %}{% disable_if_not revision.can_be_deleted %}>
                        <span class="icon"><i class="fas fa-trash"></i></span>
                        {% translate "Delete This Revision" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
