{% extends 'design/modal/form.html' %}
{% load i18n bulma_forms %}
{% block box_title %}
    {% if validlink %}
        <div class="content block">
            <p>{% translate 'Please enter your new password twice so we can verify you typed it in correctly.' %}</p>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    {% if validlink %}
        {{ block.super }}
    {% else %}
        <div class="content block">
            <p>{% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
        </div>
        <div class="field is-grouped is-grouped-centered">
            <div class="control">
                <a class="button is-success" href="{% url 'home' %}">
                    {% translate 'Ok' %}
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
