{% extends "design/assistant/narrow.html" %}
{% load i18n bulma_forms %}
{% block content %}
    {% block before_checks %}{% endblock %}
    {% for check in checks %}
    <p class="is-size-5 is-size-6-mobile">
        <span class="icon-text">
            {% if check.state == "ok" %}
                <span class="icon has-text-success">
                <i class="fas fa-circle-check"></i>
            </span>
            {% elif check.state == "warning" %}
                <span class="icon has-text-warning">
                <i class="fas fa-circle-exclamation"></i>
            </span>
            {% elif check.state == "error" %}
                <span class="icon has-text-danger">
                <i class="fas fa-circle-exclamation"></i>
            </span>
            {% endif %}
            <span>{{ check.text }}</span>
        </span>
    </p>
    {% endfor %}
    {% block after_checks %}{% endblock %}
    {% if form %}
        <hr>
        {% bulma_form_fields form %}
    {% endif %}
    {% block before_form_submit %}{% endblock %}
    {% if form %}
        {% bulma_form_submit form %}
    {% endif %}
{% endblock %}