{% extends 'design/page.html' %}
{% load i18n bulma_forms %}
{% block main %}
    <div class="columns is-centered">
        <div class="column is-two-thirds is-half-widescreen">
            <section class="hero">
                <div class="hero-body has-text-centered">
                    {% include "design/page/page_title.html" %}
                </div>
            </section>
            {% if form %}
                {% bulma_form_errors form %}
            {% endif %}
            <div class="box ml-4 mr-4">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
