{% extends 'design/page.html' %}
{% load i18n bulma_forms %}
{% block main %}
    <div class="container">
        {% block before_content %}
            <section class="hero">
                <div class="hero-body">
                    {% include "design/page/page_title.html" %}
                </div>
            </section>
            {% if form %}
                {% bulma_form_errors form %}
            {% endif %}
        {% endblock %}
        <div class="box ml-4 mr-4">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
