{% load i18n js_triggers %}
{% block header_before_login %}{% endblock %}
{% block header_login %}
    {% if user.is_authenticated %}
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-arrowless">
                <span class="icon-text">
                    <span class="icon">
                        {% if user.is_staff %}
                            <i class="fas fa-user-tie"></i>
                        {% else %}
                            <i class="fas fa-user"></i>
                        {% endif %}
                    </span>
                    {% if user.first_name %}
                        <span>{{ user.first_name }}</span>
                    {% else %}
                        <span>{{ user.username }}</span>
                    {% endif %}
                </span>
            </a>
            <div class="navbar-dropdown is-right">
                <a class="navbar-item is-light" href="{% url 'password_change' %}">
                    {% translate 'Change Password' %}
                </a>
                <hr class="navbar-divider">
                {% url "logout" as link_url %}
                <a class="navbar-item" {% action_button_trigger "logout" form_url=link_url %}>
                    {% translate 'Log out' %}
                </a>
            </div>
        </div>
    {% else %}
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-primary" href="{% url 'login' %}">
                    {% translate 'Log in' %}
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block header_after_login %}{% endblock %}
